<div style="display: block;">
  <div class="filter-container">
    <label for="countryFilter">Filtrar por país:</label>
    <select id="countryFilter" [(ngModel)]="selectedCountry" (change)="selectedState=''; filterChart()">
      <option value="">Todos</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>

    <label for="stateFilter">Filtrar por estado:</label>
    <select id="stateFilter" [(ngModel)]="selectedState" (change)="filterChart()" [disabled]="!selectedCountry">
      <option value="">Todos</option>
      <option *ngFor="let state of availableStates" [value]="state">{{ state }}</option>
    </select>
  </div>

  <canvas baseChart [data]="chartData" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"
    [legend]="chartLegend">
  </canvas>
</div>