<div style="display: block;">
  <div class="filter-container">
    <label for="yearFilter">Filtrar por ano:</label>
    <select id="yearFilter" [(ngModel)]="selectedYear" (change)="filterChart()">
      <option value="">Todos</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <label for="monthFilter">Filtrar por mês:</label>
    <select id="monthFilter" [(ngModel)]="selectedMonth" (change)="filterChart()" [disabled]="!selectedYear">
      <option value="">Todos</option>
      <option *ngFor="let month of availableMonths" [value]="month">{{ month }}</option>
    </select>
  </div>
  <canvas baseChart [data]="chartData" [labels]="chartData.labels" [type]="chartType" [options]="chartOptions"
    [legend]="chartLegend">
  </canvas>
</div>